* {
    margin: 0px;
}

#title {
    text-align: center;
    font-family: 'Barrio', cursive;
    font-size: 38px;
    color: slateblue;
    text-shadow: 1px green;
    margin: 30px auto;
}

.text-label {
    display: inline;
    margin: 5px 5px 15px 30px;
}

#text-input {
    margin: 10px 30px;
}

#meme-insert {
    margin: 10px 36px;
}

#meme-image-container {
    display: inline-block;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin: 10px 0px 0px 30px;
    background-color: white;
}

#meme-image {
    position: absolute;
    width: 350px;
    height: 400px;
    background-image: url('');
    background-position: center;
    background-size: cover;
}

#meme-text {
    position: absolute;
    width: 290px;
    margin: 280px 10px 0px 10px;
    font-size: 30px;
    font-family: "Bangers", cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#buttons {
    margin: 10px 30px;
}

.board-btn {
    width: 60px;
    height: 80px;
    margin-right: 25px;
    border-radius: 10px;
}

#fire {
    background-color: red;
    border: 2px solid black;
}

#water {
    background-color: blue;
    border: 2px solid black;
}

#earth {
    background-color: green;
    border: 2px solid black;
}